---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { Tabs, TabItem, LinkButton } from "@astrojs/starlight/components";

import EventScoringReportLoader from "@components/scores/EventScoringReportLoader";
import QRCodeImage from "@components/QRCodeImage.astro";
import StatsTabContent from "@components/scores/StatsTabContent";
import type { StarlightPageFrontmatter } from "@astrojs/starlight/types";
import FontAwesomeTabItem from "@components/FontAwesomeTabItem.astro";
import FontAwesomeTabs from "@components/FontAwesomeTabs.astro";

import regions from "@data/regions.json";
import districts from "@data/districts.json";

// Build the list of static routes based on the events file.
import path from "path";
import { promises as fs } from "fs";
import { EventTypeList, EventList, EventInfo } from "@types/EventTypes";
import { EventScoringReport } from "@types/EventScoringReport";
import {
    getAstroRootSourcePath,
    getFilesByWildcard,
    tryReadFileAsJson,
} from "@utils/FileSystem";

export async function getStaticPaths() {
    // Load the JSON defining all the generated events.
    const rootSourcePath = await getAstroRootSourcePath(import.meta.url);

    const eventJsonFiles = [
        path.resolve(rootSourcePath, "data/generated/futureEvents.json"),
        ...(await getFilesByWildcard(
            path.resolve(rootSourcePath, "data/generated/seasons"),
            "*/events.json",
        )),
    ];

    const routes: Array<{
        params: {
            type: string;
            season: number;
            container: string;
            slug: string;
        };
    }> = [];

    for (const eventsFilePath of eventJsonFiles) {
        const events = JSON.parse(
            await fs.readFile(eventsFilePath, "utf-8"),
        ) as EventTypeList;
        for (const type of Object.keys(events)) {
            const typeEvents = events[type] as EventList;
            for (const url of Object.keys(typeEvents)) {
                const [container, slug] = url.split("/");
                const event = typeEvents[url] as EventInfo;

                routes.push({
                    params: {
                        type: type,
                        season: event.season,
                        container: container,
                        slug: slug,
                    },
                });
            }
        }
    }

    return routes;
}

// Find the event metadata.
interface Props {
    type: "jbq" | "tbq";
    season: number;
    container: string;
    slug: string;
}

const { type, season, container, slug } = Astro.params as Props;

async function getEventIdFromUrl(
    eventsFilePath: string,
    type: string,
    container: string,
    slug: string,
): Promise<EventInfo | null> {
    const seasonEvents = JSON.parse(
        await fs.readFile(eventsFilePath, "utf-8"),
    ) as EventTypeList;

    const typeEvents = seasonEvents[type] as EventTypeList;
    if (!typeEvents) {
        return null;
    }

    const event = typeEvents[`${container}/${slug}`] as EventInfo;
    if (!event) {
        return null;
    }

    return event;
}

const rootSourcePath = await getAstroRootSourcePath(import.meta.url);

const eventInfo =
    (await getEventIdFromUrl(
        path.resolve(rootSourcePath, `data/generated/futureEvents.json`),
        type,
        container,
        slug,
    )) ||
    (await getEventIdFromUrl(
        path.resolve(
            rootSourcePath,
            `data/generated/seasons/${season}/events.json`,
        ),
        type,
        container,
        slug,
    ));

if (!eventInfo) {
    throw new Error(
        `Event /${type}/seasons/${season}/${container}/${slug} does not have a corresponding JSON file.`,
    );
}

const eventFilePath = path.resolve(
    rootSourcePath,
    `data/generated/seasons/${season}/scores/${eventInfo.id}.json`,
);

const event = await tryReadFileAsJson<EventScoringReport>(eventFilePath);
const initialScoresTabStyle = event ? "" : "display: none";

// Find the label for the scope.
const frontmatter: StarlightPageFrontmatter = {
    title: eventInfo.name,
    tableOfContents: false,
    eventType: type,
    eventDates: eventInfo.dates,
    eventScope: eventInfo.scope,
    eventLocation: eventInfo.locationCity,
};

switch (eventInfo.scope) {
    case "region":
        frontmatter.eventScopeLabel = `${regions.find((r: any) => r.id == eventInfo.regionId).name} Region`;
        break;
    case "district":
        frontmatter.eventScopeLabel = `${districts.find((d: any) => d.id == eventInfo.districtId).name} District`;
        break;
    default:
        break;
}

// Identify whether certain tabs should be removed.
let hasStatsTab = false;
let hasQStatsTab = false;
if (event) {
    for (let meet of event.Report.Meets) {
        // If there are any question stats, mark the flag.
        if (meet.HasQuestionStats) {
            hasQStatsTab = true;
        }

        if (meet.RankedQuizzers || meet.RankedTeams) {
            hasStatsTab = true;
        }
    }
} else {
    hasStatsTab = true;
    hasQStatsTab = true;
}
---

<StarlightPage frontmatter={frontmatter}>
    <!-- name of each tab group should be unique -->
    <div class="tabs tabs-lift">
        <label class="tab mt-4">
        <input type="radio" name="my_tabs_4" />
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 me-2"><path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" /></svg>
        Live
        </label>
        <div class="tab-content bg-base-100 border-base-300 p-6">Tab content 1</div>
    
        <label class="tab">
        <input type="radio" name="my_tabs_4" checked="checked" />
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 me-2"><path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 0 1-6.364 0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" /></svg>
        Laugh
        </label>
        <div class="tab-content bg-base-100 border-base-300 p-6">Tab content 2</div>
    
        <label class="tab">
        <input type="radio" name="my_tabs_4" />
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 me-2"><path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" /></svg>
        Love
        </label>
        <div class="tab-content bg-base-100 border-base-300 p-6">Tab content 3</div>
    </div>

    {
        !event && (
            <EventScoringReportLoader
                eventInfo={eventInfo}
                parentTabId="scoreTabs"
                tabSyncKey={`scores-${eventInfo.id}`}
                client:only="react"
            />
        )
    }
    <div id="scoreTabs" style={initialScoresTabStyle}>
        <FontAwesomeTabs syncKey={`scores-${eventInfo.id}`}>
            {
                hasStatsTab && (
                    <FontAwesomeTabItem
                        syncKey={`scores-${eventInfo.id}`}
                        key={`scores-${eventInfo.id}-stats`}
                        label="Stats"
                        icon="fas faTrophy"
                        defaultChecked={true}
                    >
                        {event && (
                            <StatsTabContent
                                eventId={eventInfo.id}
                                event={event}
                            />
                        )}
                        {!event && (
                            <StatsTabContent
                                eventId={eventInfo.id}
                                client:only="react"
                            />
                        )}
                    </FontAwesomeTabItem>
                )
            }
            <FontAwesomeTabItem
                syncKey={`scores-${eventInfo.id}`}
                key={`scores-${eventInfo.id}-schedule`}
                label="Schedules"
                icon="fas faCalendarAlt"
                padding="2"
            >
                <FontAwesomeTabs syncKey={`scores-${eventInfo.id}-schedule`}>
                    <FontAwesomeTabItem
                        syncKey={`scores-${eventInfo.id}-schedule`}
                        icon="fas faUsers"
                        label="Team Schedule"
                    >
                        Team Schedule Content
                    </FontAwesomeTabItem>
                    <FontAwesomeTabItem
                        syncKey={`scores-${eventInfo.id}-schedule`}
                        icon="fas faDoorOpen"
                        label="Room Schedule"
                    >
                        Room Schedule Content
                    </FontAwesomeTabItem>
                    <FontAwesomeTabItem
                        syncKey={`scores-${eventInfo.id}-schedule`}
                        icon="fas faBorderAll"
                        label="Schedule Grid"
                    >
                        Schedule Grid Content
                    </FontAwesomeTabItem>
                </FontAwesomeTabs>
            </FontAwesomeTabItem>
            <FontAwesomeTabItem
                syncKey={`scores-${eventInfo.id}`}
                key={`scores-${eventInfo.id}-coordinator`}
                label="Coordinator"
                icon="fas faThermometerHalf"
            >
                Coordinator Content
            </FontAwesomeTabItem>
            {
                hasQStatsTab && (
                    <FontAwesomeTabItem
                        syncKey={`scores-${eventInfo.id}`}
                        key={`scores-${eventInfo.id}-qstats`}
                        label="Q Stats"
                        icon="fas faChartBar"
                    >
                        Question Stats Content
                    </FontAwesomeTabItem>
                )
            }
            <FontAwesomeTabItem
                syncKey={`scores-${eventInfo.id}`}
                key={`scores-${eventInfo.id}-qrcode`}
                label="QR"
                icon="fas faQrcode"
            >
                <QRCodeImage
                    url={`${Astro.url.origin}${Astro.url.pathname}`}
                    width={400}
                    color="#000000"
                    backgroundColor="#ffffff"
                    downloadFileNameWithoutExtension={eventInfo.name}
                    cssClass="flex justify-center"
                />
            </FontAwesomeTabItem>
        </FontAwesomeTabs>
    </div>
</StarlightPage>
