---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { Tabs, TabItem, LinkButton } from "@astrojs/starlight/components";

import EventScoringReportLoader from "@components/scores/EventScoringReportLoader";
import QRCodeImage from "@components/QRCodeImage.astro";
import { StatsTabItem } from "@components/scores/EventScoresTabItem";

// Build the list of static routes based on the events file.
import path from "path";
import { promises as fs } from "fs";
import { EventTypeList, EventList, EventInfo } from "@types/EventTypes";
import { EventScoringReport } from "@types/EventScoringReport";
import {
    getAstroRootSourcePath,
    getFilesByWildcard,
    tryReadFileAsJson,
} from "@utils/FileSystem";

export async function getStaticPaths() {
    // Load the JSON defining all the generated events.
    const rootSourcePath = getAstroRootSourcePath(import.meta.url);
    const eventJsonFiles = [
        path.resolve(rootSourcePath, "data/generated/futureEvents.json"),
        ...(await getFilesByWildcard(
            path.resolve(rootSourcePath, "data/generated/seasons"),
            "*/events.json",
        )),
    ];

    const routes: Array<{
        params: {
            type: string;
            season: number;
            container: string;
            slug: string;
        };
    }> = [];

    for (const eventsFilePath of eventJsonFiles) {
        const events = JSON.parse(
            await fs.readFile(eventsFilePath, "utf-8"),
        ) as EventTypeList;
        for (const type of Object.keys(events)) {
            const typeEvents = events[type] as EventList;
            for (const url of Object.keys(typeEvents)) {
                const [container, slug] = url.split("/");
                const event = typeEvents[url] as EventInfo;

                routes.push({
                    params: {
                        type: type,
                        season: event.season,
                        container: container,
                        slug: slug,
                    },
                });
            }
        }
    }

    return routes;
}

// Find the event metadata.
interface Props {
    type: string;
    season: number;
    container: string;
    slug: string;
}

const { type, season, container, slug } = Astro.params as Props;

async function getEventIdFromUrl(
    eventsFilePath: string,
    type: string,
    season: number,
    container: string,
    slug: string,
): Promise<EventInfo | null> {
    const seasonEvents = JSON.parse(
        await fs.readFile(eventsFilePath, "utf-8"),
    ) as EventTypeList;

    const typeEvents = seasonEvents[type] as EventTypeList;
    if (!typeEvents) {
        return null;
    }

    const event = typeEvents[`${container}/${slug}`] as EventInfo;
    if (!event) {
        return null;
    }

    return event;
}

const rootSourcePath = getAstroRootSourcePath(import.meta.url);

const eventInfo =
    (await getEventIdFromUrl(
        path.resolve(rootSourcePath, `data/generated/futureEvents.json`),
        type,
        season,
        container,
        slug,
    )) ||
    (await getEventIdFromUrl(
        path.resolve(
            rootSourcePath,
            `data/generated/seasons/${season}/events.json`,
        ),
        type,
        season,
        container,
        slug,
    ));

if (!eventInfo) {
    throw new Error(
        `Event /${type}/seasons/${season}/${container}/${slug} does not have a corresponding JSON file.`,
    );
}

const eventFilePath = path.resolve(
    rootSourcePath,
    `data/generated/seasons/${season}/scores/${eventInfo.id}.json`,
);

const event = await tryReadFileAsJson<EventScoringReport>(eventFilePath);
const initialScoresTabStyle = event ? "" : "display: none";
---

<StarlightPage frontmatter={{ title: eventInfo.name, tableOfContents: false }}>
    {
        !event && (
            <EventScoringReportLoader
                eventInfo={eventInfo}
                parentTabId="scoreTabs"
                client:only="react"
            />
        )
    }
    <div id="scoreTabs" style={initialScoresTabStyle}>
        <Tabs syncKey={`scores-${eventInfo.id}`}>
            <TabItem label="Stats" icon="star">
                {event && <StatsTabItem eventId={eventInfo.id} event={event} />}
                {
                    !event && (
                        <StatsTabItem
                            eventId={eventInfo.id}
                            client:only="react"
                        />
                    )
                }
            </TabItem>
            <TabItem label="Schedule" icon="puzzle"> Schedule Content </TabItem>
            <TabItem label="Coordinator" icon="open-book">
                Coordinator Content
            </TabItem>
            <TabItem label="Q Stats" icon="list-format">
                Question Stats Content
            </TabItem>
            <TabItem label="QR" icon="seti:image">
                <QRCodeImage
                    url={`${Astro.url.origin}${Astro.url.pathname}`}
                    width={400}
                    color="#000000"
                    backgroundColor="#ffffff"
                    downloadFileNameWithoutExtension={eventInfo.name}
                    cssClass="flex justify-center"
                />
            </TabItem>
        </Tabs>
    </div>
    <div>
        <h1>Type: {type}</h1>
        <h2>Season: {season}</h2>
        <h3>Container: {container}</h3>
        <p>ID: {eventInfo.id}</p>
        <p>Full URL with Origin: {Astro.url.origin}{Astro.url.pathname}</p>
        <p>Full URL with Search: {Astro.url.href}</p>
        <p>Search Params: {Astro.url.search}</p>
    </div>
</StarlightPage>
