---
import EventListFilters from "./EventListFilters.tsx";
import path from "path";
import { promises as fs } from "fs";
import { getAstroRootSourcePath, tryReadFileAsJson } from "@utils/FileSystem";
import type { EventTypeList, EventList } from "../types/EventTypes";
import type { RegionInfo, DistrictInfo } from "../types/RegionAndDistricts";
import FontAwesomeTabs from "./FontAwesomeTabs.astro";
import EventListTabItem from "./EventListTabItem.astro";

interface Props {
    season: number | "future";
    jbq?: boolean;
    tbq?: boolean;
    hideFilters?: boolean;
}

const { season, jbq, tbq, hideFilters } = Astro.props as Props;

const rootSourcePath = await getAstroRootSourcePath(import.meta.url);
const eventsFilePath = path.resolve(
    rootSourcePath,
    "data/generated",
    season === "future" ? "futureEvents.json" : `seasons/${season}/events.json`,
);

const regions = hideFilters
    ? null
    : await tryReadFileAsJson<RegionInfo[]>(
          path.resolve(rootSourcePath, "data/regions.json"),
      );

const districts = hideFilters
    ? null
    : await tryReadFileAsJson<DistrictInfo[]>(
          path.resolve(rootSourcePath, "data/districts.json"),
      );

const allEvents = JSON.parse(
    await fs.readFile(eventsFilePath, "utf-8"),
) as EventTypeList;

const jbqTabEvents: EventList | null =
    jbq && tbq ? (allEvents["jbq"] as EventList) : null;
const tbqTabEvents: EventList | null =
    jbq && tbq ? (allEvents["tbq"] as EventList) : null;

const typeEvents: EventList | null = jbqTabEvents
    ? null
    : jbq
      ? allEvents["jbq"]
      : allEvents["tbq"];

(jbq || tbq) && !(jbq && tbq) ? jbqTabEvents || tbqTabEvents : null;
const regionalsTabEvents: EventList | null = typeEvents ? {} : null;
const districtTabEvents: EventList | null = typeEvents ? {} : null;
const tournamentTabEvents: EventList | null = typeEvents ? {} : null;
const reportsTabEvents: EventList | null = typeEvents ? {} : null;
const otherTabEvents: EventList | null = typeEvents ? {} : null;

if (typeEvents) {
    for (let slug in typeEvents) {
        let tabEvents: EventList | null;
        if (slug.startsWith("regionals/")) {
            tabEvents = regionalsTabEvents;
        } else if (slug.startsWith("districts/")) {
            tabEvents = districtTabEvents;
        } else if (slug.startsWith("tournaments/")) {
            tabEvents = tournamentTabEvents;
        } else if (slug.startsWith("reports/")) {
            tabEvents = reportsTabEvents;
        } else if (slug.startsWith("other/")) {
            tabEvents = otherTabEvents;
        } else {
            continue; // No matched event.
        }

        if (!tabEvents) {
            continue;
        }

        tabEvents[slug] = typeEvents[slug];
    }
}
---

<div>
    {
        !hideFilters && (
            <EventListFilters
                regions={regions}
                districts={districts}
                client:only="react"
            />
        )
    }
    <div class="mt-4">
        <FontAwesomeTabs syncKey={`events-${season}-${jbq}-${tbq}`}>
            <EventListTabItem label="Junior Bible Quiz (JBQ)" id="jbq" events={jbqTabEvents} />
            <EventListTabItem label="Teen Bible Quiz (TBQ)" id="tbq" events={tbqTabEvents} />
            <EventListTabItem label="Regional Finals" id="regionals" events={regionalsTabEvents} />
            <EventListTabItem label="District Finals" id="districts" events={districtTabEvents} />
            <EventListTabItem label="Tournaments" id="tournaments" events={tournamentTabEvents} />
            <EventListTabItem label="Reports" id="reports" events={reportsTabEvents} />
            <EventListTabItem label="Other Competitions" id="other" events={otherTabEvents} />
        </FontAwesomeTabs>
    </div>
</div>
