---
const {
    title,
    description,
    eventId,
    eventType,
    eventDates,
    eventScope,
    eventScopeLabel,
    eventLocation,
    eventIsLoaded,
    showSeasonButtons,
    hidePageTitle,
    hidePageTitleOnPrint,
} = Astro.locals.starlightRoute.entry.data;

import ExcelExportButton from "./scores/ExcelExportButton.astro";
import PrintDialogButton from "./scores/PrintDialogButton.astro";
import ToggleFavoritesOnlyButton from "./scores/ToggleFavoritesOnlyButton";
import EventScopeBadge from "./EventScopeBadge";
import { getAstroRootSourcePath, getFilesByWildcard } from "utils/FileSystem";
import { fileExists } from "utils/FileSystem";

const rootSourcePath = await getAstroRootSourcePath(import.meta.url);

let currentSeasonLink: string | undefined = undefined;
if (eventType && showSeasonButtons) {
    const patternSuffix = "/index.mdx";
    const rootSeasonsForType = `${rootSourcePath}/content/docs/${eventType}/Seasons`;
    const pattern = "[0-9][0-9][0-9][0-9]" + patternSuffix;
    const seasonFiles = await getFilesByWildcard(rootSeasonsForType, pattern);

    let maxSeason = undefined;
    for (const file of seasonFiles) {
        const startPosition = file.lastIndexOf(
            "/",
            file.length - patternSuffix.length - 1,
        );
        if (startPosition >= 0) {
            const parts = file
                .substring(
                    startPosition + 1,
                    file.length - patternSuffix.length,
                )
                .split("/");
            if (parts.length === 1) {
                const season = parseInt(parts[0]);
                if (!maxSeason || season > maxSeason) {
                    maxSeason = season;
                }
            }
        }
    }

    if (maxSeason) {
        if (
            await fileExists(
                `${rootSeasonsForType}/${maxSeason - 1}/results.mdx`,
            )
        ) {
            currentSeasonLink = `/${eventType}/seasons/${maxSeason - 1}/results/`;
        } else {
            currentSeasonLink = `/${eventType}/seasons/${maxSeason - 1}/`;
        }
    }
}
---

{hidePageTitle && <div id="_top_hide_parent_id" />}
{
    !hidePageTitle && (
        <h1
            id="_top"
            class={`page-title ${hidePageTitleOnPrint ? "hide-on-print" : ""}`}
        >
            {eventType && (
                <div class="align-top shrink-0">
                    <img
                        src={`/assets/logos/${eventType}/${eventType}-logo.png`}
                        alt={eventType}
                        width="72"
                        height="72"
                        class="event-icon"
                    />
                </div>
            )}
            <span class="event-title-text">
                {title}
                {description && <p class="italic text-sm">{description}</p>}
                {showSeasonButtons && currentSeasonLink && (
                    <a
                        class="btn btn-primary cursor-pointer hide-on-print whitespace-nowrap"
                        href={currentSeasonLink}
                    >
                        Current Season Results
                    </a>
                )}
            </span>
            {eventType && eventId && (
                <span>
                    <PrintDialogButton isLoaded={eventIsLoaded ?? false} />
                    <ExcelExportButton isLoaded={eventIsLoaded ?? false} />
                    <ToggleFavoritesOnlyButton
                        isLoaded={eventIsLoaded ?? false}
                        client:only="react"
                    />
                </span>
            )}
        </h1>
    )
}
{
    !hidePageTitle && (eventScope || eventDates || eventLocation) && (
        <div class={`mt-0 ${hidePageTitleOnPrint ? "hide-on-print" : ""}`}>
            {eventScope && (
                <EventScopeBadge scope={eventScope} label={eventScopeLabel} />
            )}
            {(eventDates || eventLocation) && (
                <i>
                    {eventDates} @ {eventLocation}
                </i>
            )}
        </div>
    )
}

<script>
    const hideParentElement = document.getElementById("_top_hide_parent_id");
    if (hideParentElement) {
        const contentPanel = hideParentElement.closest("div.content-panel") as HTMLDivElement;
        if (contentPanel) {
            contentPanel.style.display = "none";

            const mainFrame = contentPanel.closest("div.main-frame") as HTMLDivElement;
            if (mainFrame) {
                mainFrame.style.paddingTop = "56px";
            }
        }
    }

    import { PrintDialogModalId } from "./scores/PrintDialogContent";
    const button: HTMLElement = document.getElementById(
        `${PrintDialogModalId}-button`,
    )!;

    if (button) {
        const title = button.closest("h1.page-title");
        if (title && title.classList.contains("hide-on-print")) {
            const ancestor = title.closest("div.content-panel");
            if (ancestor) {
                ancestor.classList.add("hide-on-print");
            }
        }
    }
</script>
