---
const {
    title,
    eventId,
    eventType,
    eventDates,
    eventScope,
    eventScopeLabel,
    eventLocation,
    eventIsLoaded,
    hidePageTitleOnPrint,
} = Astro.locals.starlightRoute.entry.data;

import ExcelExportButton from "./scores/ExcelExportButton.astro";
import PrintDialogButton from "./scores/PrintDialogButton.astro";
import EventScopeBadge from "./EventScopeBadge";
---

<h1
    id="_top"
    class={`page-title ${hidePageTitleOnPrint ? "hide-on-print" : ""}`}
>
    {
        eventType && (
            <img
                src={`/assets/images/icon-${eventType}.png`}
                alt={eventType}
                width="72"
                height="72"
                class="event-icon"
            />
        )
    }
    <span class="title-text">{title}</span>
    {
        eventType && (
            <span>
                <PrintDialogButton isLoaded={eventIsLoaded ?? false} />
                <ExcelExportButton
                    eventId={eventId}
                    eventName={title}
                    isLoaded={eventIsLoaded ?? false}
                />
            </span>
        )
    }
</h1>
{
    (eventScope || eventDates || eventLocation) && (
        <div class={`mt-0 ${hidePageTitleOnPrint ? "hide-on-print" : ""}`}>
            {eventScope && (
                <EventScopeBadge scope={eventScope} label={eventScopeLabel} />
            )}
            {(eventDates || eventLocation) && (
                <i>
                    {eventDates} @ {eventLocation}
                </i>
            )}
        </div>
    )
}

<style>
    @layer starlight.core {
        h1.page-title {
            display: flex; /* Use Flexbox for horizontal alignment */
            align-items: center; /* Align items vertically */
            gap: 1rem; /* Add spacing between the image and text */
            margin-top: 1rem;
            font-size: var(--sl-text-h1);
            line-height: var(--sl-line-height-headings);
            font-weight: 600;
            color: var(--sl-color-white);
        }

        .event-icon {
            flex-shrink: 0; /* Prevent the image from shrinking */
        }

        .title-text {
            flex-grow: 1; /* Allow the text to take up remaining space */
        }
    }
</style>

<script is:inline>
    function handlePrint() {
        alert("Print");
    }

    function handleExport() {
        alert("Export");
    }
</script>
