---
import type { EventTypeList } from "types/EventTypes";
import LiveAndUpcomingRoot from "./LiveAndUpcomingRoot";
import futureEvents from "data/generated/futureEvents.json";

import regions from "data/regions.json";
import districts from "data/districts.json";

import path from "path";
import { getAstroRootSourcePath, getFilesByWildcard, tryReadFileAsJson } from "utils/FileSystem";
import { getSeasons } from "utils/Seasons";

const seasons = await getSeasons(import.meta.url);
const rootSourcePath = await getAstroRootSourcePath(import.meta.url);

const maxSeasonPath = path.resolve(rootSourcePath, `data/generated/seasons/${seasons[0]}/events.json`);
const lastSeasonPath = path.resolve(rootSourcePath, `data/generated/seasons/${seasons[1]}/events.json`);

const recentSeasonEvents = (await tryReadFileAsJson<EventTypeList>(maxSeasonPath)) ??
    (await tryReadFileAsJson<EventTypeList>(lastSeasonPath));
---

<div id="generator-fallback" class="flex justify-center items-center">
    <span class="loading loading-spinner loading-xl"></span>&nbsp; Loading the
    Live and Upcoming Events ...
</div>
<LiveAndUpcomingRoot
    client:only="react"
    regions={regions}
    districts={districts}
    recentSeasonEvents={recentSeasonEvents}
    futureEvents={(futureEvents as any) as EventTypeList}
    loadingElementId="generator-fallback"
/>

